[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kivy = "*"
kivymd = "*"
numpy = "*"
scipy = "*"
pandas = "*"
kivy-garden = "*"
plyer = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.7"
